<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>推荐高校</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <h2>推荐的高校</h2>

        {% if grouped_schools %}
            {% for group in grouped_schools %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ group.school_name }}</strong>
                        <!-- 显示985、211、双一流信息 -->
                        {% if group.0.0.is985 == '是' %}
                            <span class="badge badge-success">985</span>
                        {% endif %}
                        {% if group.0.0.is211 == '是' %}
                            <span class="badge badge-primary">211</span>
                        {% endif %}
                        {% if group.0.0.isdoubleFC == '是' %}
                            <span class="badge badge-info">双一流</span>
                        {% endif %}
                        <button class="btn btn-info btn-xs pull-right" data-toggle="collapse" data-target="#collapse-{{ group.school_name }}">可填专业</button>
                    </div>
                    <div id="collapse-{{ group.school_name }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>专业</th>
                                        <th>省份</th>
                                        <th>平均最低分</th>
                                        <th>平均最低位次</th>
                                        <th>选科要求</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for major in group.0 %}
                                    <tr>
                                        <td>{{ major.major }}</td>
                                        <td>{{ major.province }}</td>
                                        <td>
                                            {{ major.avg_score }}
                                            {% if major.score_diff > 0 %}
                                                <span style="color:red;">+{{ major.score_diff }}</span>
                                            {% else %}
                                                <span style="color:green;">{{ major.score_diff }}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ major.avg_rank }}
                                            {% if major.rank_diff > 0 %}
                                                <span style="color:green;">+{{ major.rank_diff }}</span>
                                            {% else %}
                                                <span style="color:red;">{{ major.rank_diff }}</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ major.sub_req }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>没有找到符合条件的高校。</p>
        {% endif %}
    </div>
</body>
</html>
